body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Navbar */

.navbar{
  font-size: 18px;
}

/* Login */
Section #imglogin{
  border-radius: 1rem 0 0 1rem;
  padding-top: 50px;
}

Section{
  background-color: #E6DCE5;
}